body {
    background-color: #000000;
}
.ellipsesparent {
    position: absolute;
    left: 530px;
    top: 98px;
}
#ellipses1 {
    position: relative;
    width: 329px;
    height: 322px;
    left: 0;
    top: 0;
}
#ellipses2 {
    position: absolute;
    width: 203px;
    height: 200px;
    left: 177px;
    top: 173px;
}
#ellipses3 {
    position: absolute;
    width: 152px;
    height: 149px;
    left: 304px;
    top: 299px;
}
.rec-1-home{
    position: absolute;
    width: 814.82px;
    height: 415.37px;
    left: 42px;
    top: 138.52px;
    
    background: rgba(0, 240, 255, 0.67);
    filter: blur(25.3274px);
    border-radius: 36.1819px;
}
.rec-2-home{
    position: absolute;
    width: 717.85px;
    height: 350.96px;
    left: 90.48px;
    top: 171.09px;

    border: 7.23639px solid #00FFF0;
    filter: blur(1.44728px);
    border-radius: 26.051px;
}
.rec-3-home{
    position: absolute;
    width: 717.85px;
    height: 350.96px;
    left: 98.48px;
    top: 178.09px;

    background: rgba(83, 231, 231, 0.08);
    backdrop-filter: blur(9.04549px);

    border-radius: 20px;
}
/* .text-box-home{
    position: absolute;
    width: 717.85px;
    height: 350.96px;
    left: 90.48px;
    top: 171.09px;
} */
.home-intro-big {
    position: absolute;
    width: 704.13px;
    height: 196.83px;
    left: 113.26px;
    top: 171.09px;
    font-style: normal;
    font-weight: 350;
    font-size: 50px;
    line-height: 56px;
    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.9);
    text-shadow: 0px 4.45652px 3.71377px rgba(0, 0, 0, 0.25);
}
.home-intro-small{
    position: absolute;
    width: 678.05px;
    height: 154.14px;
    left: 112.92px;
    top: 367.92px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;

    color: #000000;
}

.nav-home{
    font-style: italic;
    font-weight: 600;
    font-size: 20.8438px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: right;
    
    color: #FFFFFF;
    
    text-shadow: 0px 2.60547px 2.60547px rgba(12, 255, 211, 0.53);
}

.nav-box {
    box-sizing: border-box;
    position: absolute;
    width: 93x;
    height: 667px;
    right: 0;
    top: 0;
    background: #363636;
}
.nav-box-img{
    mix-blend-mode: overlay;
}